:root {
    --green-main: rgb(8, 253, 216);
    --light-black: rgb(32, 30, 30);
    --darker-black: rgb(24, 21, 21);
}
* {
    margin: 0;
    padding: 0;
}
*::before,
*::after {
    box-sizing: border-box;
}
body {
    width: 100vw;
    background-color: var(--light-black);
    color: white;
    font-family: 'Open Sans', sans-serif;
} 
html {
    scroll-behavior: smooth;
}
/*  navbar begins  */
.bg-img {
    height: 100vh;  
}
.container {
    position: fixed;
    
    width: 100%;
    margin: 0;
    top: 0;
}
.topnav {
    overflow: hidden;
    background-color: #333;
}
.topnav a {
    float: right;
    color: var(--green-main);
    text-align: center;
    padding: 2vh 16px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
/*  intro section  */
.intro {
    text-align: center;
}
.intro h1 {
    font-size: 4rem;
    font-weight: 800;
    margin-top: 8rem;
    color: var(--green-main);
}
.intro p {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 1rem;
    color: rgb(192, 191, 191);
}
.intro a {
    font-size: 1.5rem;
    font-weight: 300;
    position: absolute;
    bottom: 2rem;
    right: 0;
    left: 0;
    color: rgb(192, 191, 191);
    text-decoration: none;
    transition: 0s border-bottom;
} 
.intro a:hover {
    border-bottom: 1px solid var(--green-main);
    transition-delay: 0.15s;
}
/*  About section */
#about {
    height: 50vh;
    font-size: 1.5rem;
    padding: 10vh;
}
#about h2 {
    font-size: 3rem;
}
.highlightme {
    color: var(--green-main);
    font-weight: 800;
}
/*  projects section  */
#projects {
    text-align: center;
    padding-top: 15%;
}
#projects h2 {

    margin-bottom: 2rem;
}
@media screen and (min-width:500px){
    .portifolio { 
        display: grid;
        grid-template-columns: 40vw 40vw;
        justify-content: space-evenly; 
    }
}
.box-style {
    height: 0;
    width: 80%;
    padding-bottom: 80%;
    background-color: red;
    box-shadow: 0 0 10px var(--green-main);
    margin: 3vh auto;
}

/*  contact section  */
#textarea {
    height: 10rem;
}
#contact {
    height: 90vh;
    padding-top: 15%;
    text-align: center;
    position: relative;
}

#contact h2 {
    margin-bottom: 5rem;
}
.image-box img {
    height: auto;
    width: 7vh;
}
#profile-link {
    bottom: 2%;
    position: absolute;
    left: 0;
    right: 0;
}
.darker-black {
    background-color: var(--light-black);
    border: 1px solid var(--green-main);
    color: white;
    font-size: 1.5rem;
    border-radius: 3px;
    max-width: 50ch;
}
.contact-box {
    text-align: left;
    margin: auto;
}
form {
    background-color: brown;
    display: flex;
    flex-direction: column;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px var(--light-black) inset !important;
    -webkit-text-fill-color: white !important;
} 

#lets-talk-btn {
    padding: 15px 30px;
    margin: 0 40%;
    margin-top: 2rem;
    background-color: var(--light-black);
    color: var(--green-main);
    border: var(--green-main);
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    border: 2px solid var(--green-main);
}
#lets-talk-btn:hover {
    box-shadow: 0 0 10px var(--green-main);
}

